.disp{
	width: 400px;
	height: 650px;
	background-color: black;
	display: inline-block;
	color: white;
	padding: 40px;
	padding-top: 0;
}

h1{
	text-transform: uppercase;
	font-size: 80px;
	width: 250px;
	position: relative;
}
h2{
	font-weight: normal;
	font-family: "Courier New";
	font-size: 26px;
	position: absolute;
	bottom: 120px;
}

h3{
	font-weight: normal;
	font-family: "Courier New";
	font-size: 26px;
	position: absolute;
	bottom: 80px;
}