.Text {
	margin: 10px;
}

h1 {
	font-size: 18px;
	font-family: "Bree Serif";
	
}
h2 {
	font-size: 14px;
	font-family: "Georgia";
	
}

h3 {
	font-size: 14px;
	color: 	#707070;
	font-family: "Bree Serif";
	
}